<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPfky7vz2t_fl3sOVTJc2OM6hgWBh7J9g</string>
	<key>GCM_SENDER_ID</key>
	<string>783982879638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.estrellas</string>
	<key>PROJECT_ID</key>
	<string>estrellas-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>estrellas-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783982879638:ios:e458a96dad28e2c413b3b7</string>
</dict>
</plist>